<section>
    <header>
        Organizer: <strong>{{dateService.date | async | dayjs: 'DD.MM.YYYY'}}</strong>
        <hr />
    </header>

    <main>
        <ul *ngIf="tasks.length else noTasks">
            <li class="task" *ngFor="let task of tasks; let i = index">
                <span>
                    <strong>{{i+1}}</strong>
                {{task.title}}
                </span>
                <button class="btn btn-primary" (click)="removeTask(task)">Remove</button>
            </li>
        </ul>
        <ng-template #noTasks>
            No tasks yet...
        </ng-template>
    </main>

    <footer>
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <input type="text" placeholder="Enter your task text here" formControlName="title">
            <label for="repetition">Repeats:</label>
            <select id="repetition" formControlName="recurrence">
                <option value="never">Never</option>
                <option value="week">Every week</option>
            </select>
            <button 
            type="submit"
            class="btn btn-primary btn-block"
            [disabled]="form.invalid">Add</button>
        </form>
    </footer>
</section>
