table {
    width: 100%;
    border-collapse: collapse;

    td, th {   
        padding: .5rem 1rem;
    }

    td {
        border: 1px solid #4d4d4d;
        text-align: center;
        transition: all .2s;

        &.disabled {
            opacity: .5;
        }

        &:hover:not(.disabled) {
            background: rgb(58, 58, 58);
            cursor: pointer;
        }
    }

    .active {
        color: var(--primary-color);
        font-weight: bold;
    }

    .selected {
        color: rgb(173, 48, 79);
    }
}

.table-wrapper {
    margin-bottom: 1rem;
    border: 2px solid #4d4d4d;;
    border-radius: 8px;
    overflow: hidden;
  }